* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-image: radial-gradient(
    circle,
    #31572c,
    #466b36,
    #5d7f41,
    #75944b,
    #90a955
  );
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

.nav__item {
  margin: 3rem 0 0 1.5rem;
}

.nav__list {
  list-style: none;
  position: relative;
  align-items: center;
  }


.container {
  width: 95%;
  margin: 0 auto;
  max width: 130px;

}


img,
svg {
  vertical-align: middle;
}

h1 {
  color: #000000;
}

}.encabezado {
  font-size: 1rem;
  text-align: left ;
}

.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header {
  background-color: #31572c;
  top: 0;
  z-index: 2;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 900;
}

.descripcion {
  font-size: 1.5rem;
}
.Redes {
  font-size: 1rem;
}
.ubiacacion {
  font-size: 1rem;
}

footer {
  background-color: #ecf39e;
}
footer {
  color: black;
}


.card {
  margin: 60px;
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0 10px 30px -10 px rgba(0, 0, 0, 0.45);
}


.grid-item {
  font-size: 1.5rem;
  padding: 20px 20px 20px 20px;
}

.encabezado {
  font-size: 2rem;
  text-align: center;

}


  @media (min-width: 768px) {
    .container {
      width: 80%;
    
        }
    
    .nav{
      display: flex
      justify-content: flex-end
      heigth: auto
      position: relative;
    }
    
    .nav__list {
      list-style: none;
      display: flex;
    
    }
    
    header {
    position: sticky;}
    
    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .col{
      width: 100%;
    }
    
    .grid-container {
      padding: 5%;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 2fr;
      grid-template-areas: 
      "titulo foto"
      "presentacion"
      
    
    .grid-item-1 { grid-area: titulo;
    }
    
    .grid-item-2 {
      grid-area: presentacion;
    } 
    
    .grid-item-3 {
      grid-area: foto;
    }
    }   }