@media (min-width: 768px) {
  .container {
    width: 85%;
  }
  .nav {
    display: flex;
    heigth: auto;
    position: relative;
  }
  .nav__list {
    list-style: none;
    display: flex;
  }
  header {
    position: sticky;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
  }

  .foto1 {
    height: 250px;
  }
  .foto2 {
    height: 250px;
  }
  .grid-container {
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "titulo foto" "presentacion";
    max-width: 100%;

  }
}