.nav__item {
    margin: 3rem 0 0 1.5rem;
  }
  
  .nav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  .nav__list {
    list-style: none;
    position: relative;
    align-items: center;
    }
  
  